<% layout("layouts/boilerplate") %>

<div class="row mt-4">
    <div class="col-8 offset-2">
    <h3><b>List your Property!</b></h3>
    <form method="POST" action="/listings" novalidate class="needs-validation" enctype="multipart/form-data">
        <div class="mb-3">
            <label for="title" class="form-label">Title</label>
            <input name="listing[title]" placeholder="Enter title" type="text" class="form-control" required>
            <div class="valid-feedback">Title looks good!</div>
            <div class="invalid-feedback">Please enter a title</div>
        </div>
        <div class="mb-3">
            <label for="description" class="form-label">Description</label>
            <textarea name="listing[description]" placeholder="Enter description" cols="30" rows="5" class="form-control"></textarea> 
        </div>
        <div class="mb-3">
            <label for="image" class="form-label">Image</label>
            <input name="image" type="file" class="form-control" required>
            <div class="invalid-feedback">Please upload an image</div>
        </div>
        <div class="row">
            <div class="mb-3 col-md-4">
            <label for="price" class="form-label">Price</label>
            <input name="listing[price]" placeholder="Enter price" type="number" class="form-control" required>
            <div class="invalid-feedback">Enter a valid price</div>
        </div>
        <div class="mb-3 col-md-8">
            <label for="country" class="form-label">Country</label>
            <input name="listing[country]" placeholder="Enter Country" type="text" class="form-control" required>
            <div class="invalid-feedback">Please enter a country name</div>
        </div>
        </div>
        <div class="mb-3">
            <label for="location" class="form-label">Location</label>
            <input name="listing[location]" placeholder="Enter Location" type="text" class="form-control" required>
            <div class="invalid-feedback">Please enter a valid location</div>
        </div>
        <div class="mb-3">
            <label for="category" class="form-label">Category</label>
            <select name="listing[category]" class="form-select" required>
            <% for (let elem of alltypes) { %>
                <option value="<%= elem %>"><%= elem %></option>
            <% } %>
            </select>
            <div class="invalid-feedback">Please select a category</div>
        </div>
        <br>
        <button class="btn btn-dark list-btn">List</button>
        <br><br>
    </form>
</div>
</div>